/*@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");*/

* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(SignupPage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.164);
}

.frame {
    height: 450px;
    width: 370px;
    backdrop-filter: blur(15px);
    border: 3px solid rgb(8, 50, 71);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 25px #092d3c73;
}

.register {
    font-size: 50px;
    font-weight: bold;
    color: #010c12e4;
    margin-top: -0.01rem;
    text-align: center;
    margin-bottom: 2.5rem;
}


.username,
.email,
.password,
.confirm-password {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    position:relative;
}

.username input,
.email input,
.password input,
.confirm-password input {
    padding: 6px 8px 8px 15px;
    background: transparent;
    border: none;
    justify-content: center;
    justify-items: center;
    width: 100%;
    position:relative;
   
    align-items: center;
    border: 1px solid #cecece;
    border-radius: 50px;
    font-size: 17px;
    outline: none;
    font-weight: bold;
}

.username input::placeholder,
.email input::placeholder,
.password input::placeholder,
.confirm-password input::placeholder{
    color: white;
    font-weight: bold;
}

.username i,
.email i,
.password i,
.confirm-password i{
    position: absolute;
    right: 0.7rem;
}



.reg {
    width: 40%;
    padding: 5px;
    margin-top: 1rem;
    font-size: 25px;
    color: rgb(14, 131, 6);
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color:hsla(116, 59%, 86%, 0.331) ;
    text-align: center;
    align-items: center;
    font-weight: 700;

}

.log {
    margin-top: 1.5rem;
    color: white;
    text-align: center;
}

.log a {
    font-weight: bold;
    text-align: center;
    
}
#cancel{
    position: absolute;
    left:15px;
    top: 18px;
    color: #1e4467;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
    
    text-decoration: none;
}

